:host {
  display: block;
}

a {
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
  color: black;
}

/* TODO CHECK WITH TONY WAT DO FOR EXTERNAL ANCHORS */
a.external {
  background-color: #76f4918a;
}

/* TODO CHECK WITH TONY WAT DO FOR EXTERNAL ANCHORS */
a.external:hover {
  background-color: black;
  color: white;
}
