@import '../../../design-tokens/css/_variables.css';

:host {
  display: block;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(-sr-color-foundation-ui-green-ui-green-hover);
}
